*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: url('./bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 50px #001d49;
}
.card-header{
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 40px;

}
.pic{
    display: inline-block;
    padding: 5px;
    background: linear-gradient(130deg, #7759ff, #63a7ff );
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
    box-shadow: 0 0 20px #000000;
}
@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}
.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0;
    text-shadow: black 0 0 20px;
}

.desc{
    color: #4f9ddd;
    font-size: 18px;
    
}

.sm{
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}

.sm a{
    font-size: 28px;
    width: 50px;
    color: #ffffff;
}
.sm a:hover{
    color: #0086EA;
}
.contact-btn{
    display: inline-block;
    padding: 12px 30px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    transition: .3s linear;
}
.contact-btn:hover{

    color: #ffffff;
    box-shadow: 0 0 20px #8293f5;
}

.card-footer{
    background: #122853;
    padding: 30px 10px;
}
.number{
    display: flex;
    color: #788FE0;
}

.item{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
}
.item span{
    display: block;
    color: #f2f2f2;
    font-size: 25px;
}

.border{
    width: 1px;
    height: 50px;
background-color: #788FE0;
}
